@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  background: linear-gradient(45deg, #003203 0%, #87d441 100%);
  font-family: 'Ubuntu';
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.terminal {
  width: 600px;
  height: 400px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
  margin: 10px;
}

.terminal_body {
  background: rgba(56, 4, 40, 0.9);
  height: calc(100%);
  margin-top: -1px;
  padding: 10px;
  font-family: 'Ubuntu mono';
}

.terminal_text {
  color: #ddd;
}

.terminal_prompt {
  margin-top: 2px;
  display: flex;
}

.terminal_prompt_output {
  margin-top: 2px;
  display: flex;
  color: #ddd;
}

.prompt {
  white-space: nowrap;
}

.prompt_user {
  color: #87d441;
}

.prompt_location {
  color: #6d85a9;
}

.prompt_icon {
  color: #ddd;
}

.prompt_text {
  color: #ddd;
  margin-left: 8px;
  white-space: nowrap;
}

.prompt_cursor {
  height: 17px;
  width: 7px;
  background: rgba(255, 255, 255, 0.772);
  margin-left: 8px;
  animation: 1000ms blink alternate infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .Terminal {
    max-height: 90%;
    width: 95%;
  }
}
