:root {
  --space-small: 4em;
}

.green-text {
  color: #70b16d;
}

.grey-text {
  color: #c1c1c1;
}

.navbar {
  height: var(--space-small);
}

.section-first {
  height: 85vh;
}

section {
  padding-top: var(--space-small);
  height: 100vh;
  display: block;
  border-bottom: 5px solid black;
}
